<div id="ask-prompt"><%= locals.prompt %></div>
<div>
  <button id="confirm-button" class="confirm right">
    <img src="/blockly/media/1x1.gif" class="right-btn icon21">
  </button>
  <span class="right">&quot;</span>
  <span class="left">&quot;</span>
  <span id="ask-input-expander"><input id="ask-input" type="text" name="value"></span>
</div>
